@model IEnumerable<BookStore.Models.Genre>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td>
                    @Html.ActionLink("Select", "Create", "Books", new {id = item.Id}, null)
                </td>
            </tr>
        }
    </tbody>
</table>
